<body>

  <form action="/files/" enctype="multipart/form-data" method="post">
    <h1>Form 1</h1>
    <input name="files_list" type="file" multiple><br><br>
    <input name="files_name" type="file" multiple><br><br>
    <input type="submit" value="点击显示文件详细信息">
  </form>

<br><br><br><br>


  <form action="/create_file/" enctype="multipart/form-data" method="post">
    <h1>Form 2</h1>
    <input name="file" type="file" multiple><br><br>
    <input name="fileb" type="file" multiple><br><br>
    <input name="notes" type="text" multiple><br><br>
    <input type="submit" value="点击显示文件详细信息">
  </form>
</body>
